{
  "semi": true,               // додає крапки з комою в кінці рядків
  "singleQuote": true,        // використовує одинарні лапки замість подвійних
  "tabWidth": 2,              // ширина табуляції в пробілах
  "trailingComma": "es5",     // додає кому після останнього елемента в об'єктах/масивах (для ES5)
  "bracketSpacing": true,     // пробіл між дужками: { a: 1 } замість {a: 1}
  "arrowParens": "always"     // завжди ставити дужки навколо параметрів стрілочних функцій
}
